@using DotNetLive.ForumsWeb.Models.TopicViewModels
@{
    ViewData["Title"] = "Home Page";
    var list = ViewBag.Topics as List<TopicViewModel>;
}
<div class="row">
    <div class="col-md-12 topics">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <span class="l">查看:</span>
                    <a href="#" class="active">默认</a> /
                    <a href="#" class="popular">优质帖子</a> /
                    <a href="#">无人问津</a> /
                    <a href="#">最新创建</a>
                </div>
            </div>
            <div class="panel-body">
                @foreach (var item in list)
                {
                    <div class="topic">
                        <div class="avatar media-left">
                            <a href="#"><img class="avatar-48" src="~/images/96.png" alt="96"></a>
                        </div>
                        <div class="media-body">
                            <div class="title">
                                <a asp-controller="Topic" asp-action="Index" asp-route-id="@item.SysId">
                                    @(item.Top == 1 ? "[置顶]" : "")@item.Title
                                </a>
                            </div>
                            <div class="info">
                                <a href="/topic/node/@item.NodeId">@item.NodeName</a> 【<label>@item.Email</label>】发布于 @item.Createdon.ToString("MM-dd HH:mm")
                                @if (item.LastReplyTime != DateTime.MinValue)
                                {
                                    <label>最后回复 @item.LastReplyTime.ToString("MM-dd HH:mm")</label>
                                }
                            </div>
                        </div>
                        <div class="count media-right">
                            @if (item.ReplyCount > 0)
                            {
                                <a class="state-false" href="/Topic/@item.SysId#reply@(item.ReplyCount)">@item.ReplyCount</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

